/* Sections
----------------------------------------------------------------------------- */

#the-quote {
  //padding-top: 205px;
  //padding-bottom: 205px;
  padding-left: 160px;
  //background-color: red;
}

#quote-text {
  margin-top: -102px; // set this size for each breakpoint
}




#the-banner {
// Padding and arrangement
  padding-bottom: 80px;
  padding-left: 40px;
  .conference-title {
    padding-top: 40px;
  }
  .conference-description {
    padding-top: 160px;
    margin-left: 120px;
  }
// Colours
  background-color: $primary-blue;
  h1, h2, p {
    color: $white;
  }
  .title-date {
    color: $pink;
  }
}



#the-slideshow {
// Padding and arrangement
  padding-top: 200px;
  padding-bottom: 260px;
  padding-left: 160px;
// Colours
  background-color: $black;
  h1, h2, p {
    color: $white;
  }
}
