/* Sections
----------------------------------------------------------------------------- */

#the-quote {
  //padding-top: 205px;
  //padding-bottom: 205px;
  padding-left: 160px;
  //background-color: red;
}

#quote-text {
  // set this size for each breakpoint
  margin-top: -102px;
  //background-color: red;
}

#the-banner {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
  .conference-description {
    padding-top: 160px;
    margin-left: 120px;
  }
}

#the-slideshow {
  padding-top: 200px;
  padding-bottom: 260px;
  padding-left: 160px;
}
